.info {
	display: block;
}

.navbar-shopear {
	background-color: #0E2740;
	color: #fafafa;
	border-radius: 0;
	margin-bottom: 0;
}

.navbar-shopear .navbar-nav a {
	padding-left: 5px;
	padding-right: 5px;
}

.navbar-shopear .navbar-nav a span {
	padding: 10px;
	border: solid 2px #0E2740;
}

.navbar-shopear .navbar-nav a:hover {
	background: none;
}

.navbar-shopear .navbar-nav a:hover span {
	border: solid 2px #fafafa;
	border-radius: 4px;
}

.home-brands {
	background-color: green; 
	position: absolute; 
	bottom: 0; 
	left: 0;
}

.brand-shopear {
	padding: 7px;
}

.jumbotron-shopear {
	color: #fafafa;
	background-color: transparent;
	max-width: 600px;
}

a, a:active, a:hover, a:focus {
	color: inherit;
}

.btn-shp-blue {
  color: #fff;
  background-color: #00cff0;
  border-color: #00bfd0;
}
.btn-shp-blue:focus,
.btn-shp-blue.focus {
  color: #fff;
  background-color: #00c9d9;
  border-color: #00b9c9;
}
.btn-shp-blue:hover {
  color: #fff;
  background-color: #00bfd0;
  border-color: #00afc0;
}
.btn-shp-blue:active,
.btn-shp-blue.active,
.open > .dropdown-toggle.btn-shp-blue {
  color: #fff;
  background-color: #00bfd0;
  border-color: #00afc0;
}
.btn-shp-blue:active:hover,
.btn-shp-blue.active:hover,
.open > .dropdown-toggle.btn-shp-blue:hover,
.btn-shp-blue:active:focus,
.btn-shp-blue.active:focus,
.open > .dropdown-toggle.btn-shp-blue:focus,
.btn-shp-blue:active.focus,
.btn-shp-blue.active.focus,
.open > .dropdown-toggle.btn-shp-blue.focus {
  color: #fff;
  background-color: #00c9d9;
  border-color: #00b9c9;
}
.btn-shp-blue:active,
.btn-shp-blue.active,
.open > .dropdown-toggle.btn-shp-blue {
  background-image: none;
}
.btn-shp-blue.disabled:hover,
.btn-shp-blue[disabled]:hover,
fieldset[disabled] .btn-shp-blue:hover,
.btn-shp-blue.disabled:focus,
.btn-shp-blue[disabled]:focus,
fieldset[disabled] .btn-shp-blue:focus,
.btn-shp-blue.disabled.focus,
.btn-shp-blue[disabled].focus,
fieldset[disabled] .btn-shp-blue.focus {
  background-color: #00cff0;
  border-color: #00bfd0;
}
.btn-shp-blue .badge {
  color: #00cff0;
  background-color: #fff;
}

.btn-shp-green {
  color: #fff;
  background-color: #bdde33;
  border-color: #adce23;
}
.btn-shp-green:focus,
.btn-shp-green.focus {
  color: #fff;
  background-color: #b5d62c;
  border-color: #a5c61c;
}
.btn-shp-green:hover {
  color: #fff;
  background-color: #adce23;
  border-color: #9dbe13;
}
.btn-shp-green:active,
.btn-shp-green.active,
.open > .dropdown-toggle.btn-shp-green {
  color: #fff;
  background-color: #adce23;
  border-color: #9dbe13;
}
.btn-shp-green:active:hover,
.btn-shp-green.active:hover,
.open > .dropdown-toggle.btn-shp-green:hover,
.btn-shp-green:active:focus,
.btn-shp-green.active:focus,
.open > .dropdown-toggle.btn-shp-green:focus,
.btn-shp-green:active.focus,
.btn-shp-green.active.focus,
.open > .dropdown-toggle.btn-shp-green.focus {
  color: #fff;
  background-color: #b5d62c;
  border-color: #a5c61c;
}
.btn-shp-green:active,
.btn-shp-green.active,
.open > .dropdown-toggle.btn-shp-green {
  background-image: none;
}
.btn-shp-green.disabled:hover,
.btn-shp-green[disabled]:hover,
fieldset[disabled] .btn-shp-green:hover,
.btn-shp-green.disabled:focus,
.btn-shp-green[disabled]:focus,
fieldset[disabled] .btn-shp-green:focus,
.btn-shp-green.disabled.focus,
.btn-shp-green[disabled].focus,
fieldset[disabled] .btn-shp-green.focus {
  background-color: #bdde33;
  border-color: #adce23;
}
.btn-shp-green .badge {
  color: #bdde33;
  background-color: #fff;
}