<section class="container-fluid page-section home-header-section">
	<div class="navbar-separator"></div>
	<div class="container">
		<div class="jumbotron jumbotron-shopear center-block text-center">
			<br/>
		  <h2>No pierdas la oportunidad de conseguir recompensas en tus tiendas favoritas</h2>
		  <p><a class="btn btn-shp-blue btn-lg" href="/" role="button">DESCUBRE CÓMO</a></p>
		</div>
	</div>
	<div class="container-fluid home-brands">
		<div class="container-fluid">
			<h2 class="center-block"></h2>
		</div>
	</div>
</section>
<section class="container-fluid page-section">
	<div class="container">
		<div class="col-xs-12 col-sm-6 col-sm-offset-6">
			<div class="section-separator"></div>
			<div class="col-xs-9 text-center">
				<h2 class="section-header center-block">Descubre ofertas antes de comprar</h2>
				<h4 class="center-block">Encuentra las ultimas tendencias y ofertas diarias para nunca perder la oportunidad de ahorrar.</h4>
			</div>
			<div class="col-xs-3">
				<i class="badge-icon fa fa-tag"></i>
			</div>
		</div>
	</div>
</section>
<section class="container-fluid page-section section-points">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<div class="col-xs-9 text-center">
					<h2 class="section-header center-block">Consigue puntos en las tiendas</h2>
					<h4 class="center-block">Cuatro formas fáciles de sumar puntos:</h4>
				</div>
			</div>
		</div>
		<br>
		<div class="points-benefit">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="col-xs-3">
						<i class="badge-icon fa fa-sign-in"></i>
					</div>
					<div class="col-xs-9">
						<h4 class="center-block">Puntos por entrar en la tienda</h4>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="col-xs-3">
						<i class="badge-icon fa fa-barcode"></i>
					</div>
					<div class="col-xs-9">
						<h4 class="center-block">Puntos por escanear productos</h4>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="col-xs-3">
						<i class="badge-icon fa fa-credit-card"></i>
					</div>
					<div class="col-xs-9">
						<h4 class="center-block">Puntos por comprar</h4>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<div class="col-xs-3">
						<i class="badge-icon fa fa-file-text-o"> </i>
					</div>
					<div class="col-xs-9">
						<h4 class="center-block">Puntos por enviar fotos de tickets</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="container-fluid page-section">
	<div class="container">
		<div class="row">
			<div class="section-separator"></div>
			<div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
				<i class="badge-icon fa fa-gift"></i>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
				<h2 class="section-header center-block">Cambia tus puntos por tu gift card favorita</h2>
				<h4 class="center-block">Elige de nuestra colección de gift cards en diversos locales.</h4>
			</div>
		</div>
	</div>
	<div class="container-fluid home-brands">
		<div class="container-fluid">
			<h2 class="center-block"></h2>
		</div>
	</div>
</section>