<div class="dark-font">
<section class="container-fluid page-section how-header-section">
	<div class="section-separator"></div>
	<div class="container">
		<div class="jumbotron jumbotron-how center-block text-center">
			<br/>
			<img class="center-block how-center-logo" src="assets/img/grafs/shopear-GO-white.png">
			<div class="navbar-separator"></div>
		  	<h4>¡La aplicación que te recompensa por ir de compras!</h4>
		</div>
		<div class="row text-center">
			<a ng-click="scrollTo('points')"><i class="fa fa-fw fa-arrow-circle-o-down how-down-white"></i></a>
		</div>
		<div class="navbar-separator"></div>
	</div>
	<div class="container-fluid home-brands how-nav">
		<div class="container-fluid">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<ul class="nav nav-justified hidden-xs">
					<li><a href="" ng-click="scrollTo('points')">
	        			<span><i class="fa fa-fw fa-plus-circle"></i> Puntos</span>
        			</a></li>
	        		<li><a href="" ng-click="scrollTo('walk-in')">
	        			<span><i class="fa fa-fw fa-sign-in"></i> Entra</span>
        			</a></li>
        			<li><a href="" ng-click="scrollTo('scan')">
	        			<span><i class="fa fa-fw fa-barcode"></i> Escanea</span>
        			</a></li>
	        		<li><a href="" ng-click="scrollTo('buy')">
	        			<span><i class="fa fa-fw fa-credit-card-alt"></i> Compra</span>
        			</a></li>
        			<li><a href="" ng-click="scrollTo('receipt')">
	        			<span><i class="fa fa-fw fa-file-text-o"></i> Recibos</span>
        			</a></li>
	        		<li><a href="" ng-click="scrollTo('friends')">
	        			<span><i class="fa fa-fw fa-user-plus"></i> Invita</span>
        			</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section class="container-fluid page-section-small soft-green-bg" id="points">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3">
				<div class="navbar-separator"></div>
				<div class="text-center">
					<h2 class="section-header center-block">¿Para que sirven los puntos?</h2>
					<h4 class="center-block">Junta puntos al salir de compras y cámbialos por productos.</h4>
					<h4 class="center-block">¡Hay muchas formas de sumar puntos!</h4>
					<i class="fa fa-fw fa-plus-circle how-big-icon-blue"></i>
				</div>
			</div>
		</div>
		<div class="row text-center">
			<div class="navbar-separator"></div>
			<a ng-click="scrollTo('walk-in')"><i class="fa fa-fw fa-arrow-circle-o-down how-down"></i></a>
		</div>
	</div>
</section>
<section class="container-fluid page-section-small soft-blue-bg" id="walk-in">
	<div class="container">
		<div class="navbar-separator"></div>
		<div class="col-xs-12 col-sm-7 col-sm-offset-1">
			<div>
				<h2 class="section-header center-block">Puntos por Visitar un Local</h2>
				<ul class="list-unstyled how-list">
					<li class="clearfix">
						<div class="col-xs-2 text-center">
							<i class="fa fa-fw fa-mobile-phone how-icon"></i>
						</div>
						<div class="col-xs-9 col-xs-offset-1">
							<b>Revisa los locales que dan puntos por visitarlos</b><br>
							Enciende tu bluetooth y activa los servicios de localización en tu móbil
						</div>
					</li>
					<li class="clearfix">
						<div class="col-xs-2 text-center">
							<i class="fa fa-fw fa-sign-in how-icon"></i>
						</div>
						<div class="col-xs-9 col-xs-offset-1">
							<b>Entra en el local participante</b><br>
							Abre la aplicación cuando estés en la entrada del local
						</div>
					</li>
					<li class="clearfix">
						<div class="col-xs-2 text-center">
							<i class="fa fa-fw fa-plus-circle how-icon"></i>
						</div>
						<div class="col-xs-9 col-xs-offset-1">
							<b>Recibe puntos</b><br>
							Recibes puntos solo por visitar el local
						</div>
					</li>
					<li class="clearfix">
						<div class="col-xs-2 text-center">
							<i class="fa fa-fw fa-dollar how-icon"></i>
						</div>
						<div class="col-xs-9 col-xs-offset-1">
							<b>Puntos = Dinero</b><br>
							Cambia tus puntos por gift cards
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="section-separator"></div>
			<i class="fa fa-fw fa-sign-in how-bigger-icon-green"></i>
		</div>
	</div>
	<div class="row text-center">
		<div class="navbar-separator"></div>
		<a ng-click="scrollTo('scan')"><i class="fa fa-fw fa-arrow-circle-o-down how-down"></i></a>
	</div>
	<div class="navbar-separator"></div>
</section>
<section class="container-fluid page-section-small soft-green-bg" id="scan">
	<div class="container">
		<div class="navbar-separator"></div>
		<div class="col-sm-3 col-sm-offset-1">
			<div class="section-separator"></div>
			<i class="fa fa-fw fa-barcode how-bigger-icon-blue"></i>
		</div>
		<div class="col-xs-12 col-sm-7">
			<div>
				<h2 class="section-header center-block">Puntos por Escanear Productos</h2>
				<ul class="list-unstyled how-list">
					<li class="clearfix">
						<div class="col-xs-2 text-center">
							<i class="fa fa-fw fa-barcode how-icon"></i>
						</div>
						<div class="col-xs-9 col-xs-offset-1">
							<b>Revisa los locales que dan puntos por escanear productos</b><br>
							Busca el ícono de código de barra para encontrar productos que puedes escanear
						</div>
					</li>
					<li class="clearfix">
						<div class="col-xs-2 text-center">
							<i class="fa fa-fw fa-eye how-icon"></i>
						</div>
						<div class="col-xs-9 col-xs-offset-1">
							<b>Cuando estés en el local, encuentra el producto en las estanterías</b><br>
							Escanea el código de barra del producto por puntos
						</div>
					</li>
					<li class="clearfix">
						<div class="col-xs-2 text-center">
							<i class="fa fa-fw fa-plus-circle how-icon"></i>
						</div>
						<div class="col-xs-9 col-xs-offset-1">
							<b>Recibe puntos</b><br>
							Recibes puntos por cada producto que escaneas
						</div>
					</li>
					<li class="clearfix">
						<div class="col-xs-2 text-center">
							<i class="fa fa-fw fa-dollar how-icon"></i>
						</div>
						<div class="col-xs-9 col-xs-offset-1">
							<b>Puntos = Dinero</b><br>
							Cambia tus puntos por gift cards
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row text-center">
		<div class="navbar-separator"></div>
		<a ng-click="scrollTo('buy')"><i class="fa fa-fw fa-arrow-circle-o-down how-down"></i></a>
	</div>
	<div class="navbar-separator"></div>
</section>
<section class="container-fluid page-section-small soft-blue-bg" id="buy">
	<div class="container">
		<div class="navbar-separator"></div>
		<div class="col-xs-12 col-sm-7 col-sm-offset-1">
			<div>
				<h2 class="section-header center-block">Puntos por Comprar con tu Tarjeta de Crédito</h2>
				<ul class="list-unstyled how-list">
					<li class="clearfix">
						<div class="col-xs-2 text-center">
							<i class="fa fa-fw fa-credit-card-alt how-icon"></i>
						</div>
						<div class="col-xs-9 col-xs-offset-1">
							<b>Vincula tu Visa o MasterCard para recibir puntos por tus compras. Es confiable y seguro</b><br>
							Busca el ícono de tarjeta de crédito en los locales y vincula tu tarjeta de crédito
						</div>
					</li>
					<li class="clearfix">
						<div class="col-xs-2 text-center">
							<i class="fa fa-fw fa-credit-card how-icon"></i>
						</div>
						<div class="col-xs-9 col-xs-offset-1">
							<b>Paga usando tu tarjeta de credito vinculada en los locales participantes</b><br>
							Debes elegir "crédito" como modo de pago para la transacción. Solo podemos rastrear compras con tarjetas de crédito para darte puntos
						</div>
					</li>
					<li class="clearfix">
						<div class="col-xs-2 text-center">
							<i class="fa fa-fw fa-plus-circle how-icon"></i>
						</div>
						<div class="col-xs-9 col-xs-offset-1">
							<b>Recibe puntos</b><br>
							Mientras más compres, más puntos recibirás
						</div>
					</li>
					<li class="clearfix">
						<div class="col-xs-2 text-center">
							<i class="fa fa-fw fa-dollar how-icon"></i>
						</div>
						<div class="col-xs-9 col-xs-offset-1">
							<b>Puntos = Dinero</b><br>
							Cambia tus puntos por gift cards
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="section-separator"></div>
			<i class="fa fa-fw fa-credit-card how-bigger-icon-green"></i>
		</div>
	</div>
	<div class="row text-center">
		<div class="navbar-separator"></div>
		<a ng-click="scrollTo('receipt')"><i class="fa fa-fw fa-arrow-circle-o-down how-down"></i></a>
	</div>
	<div class="navbar-separator"></div>
</section>
<section class="container-fluid page-section-small soft-green-bg" id="receipt">
	<div class="container">
		<div class="navbar-separator"></div>
		<div class="col-sm-3 col-sm-offset-1">
			<div class="section-separator"></div>
			<i class="fa fa-fw fa-file-text-o how-bigger-icon-blue"></i>
		</div>
		<div class="col-xs-12 col-sm-7">
			<div>
				<h2 class="section-header center-block">Puntos por Recibos</h2>
				<ul class="list-unstyled how-list">
					<li class="clearfix">
						<div class="col-xs-2 text-center">
							<i class="fa fa-fw fa-eye how-icon"></i>
						</div>
						<div class="col-xs-9 col-xs-offset-1">
							<b>Encuentra los productos que puedes escanear en las tiendas participantes</b><br>
							Busca el ícono de recibo y la etiqueta celeste en la lista de productos que puedes escanear
						</div>
					</li>
					<li class="clearfix">
						<div class="col-xs-2 text-center">
							<i class="fa fa-fw fa-file-text-o how-icon"></i>
						</div>
						<div class="col-xs-9 col-xs-offset-1">
							<b>Compra productos que califican en los locales participantes y mándanos tu recibo</b><br>
							Toma una foro del recibo completa, incluído nombre del local, fecha y monto pagado
						</div>
					</li>
					<li class="clearfix">
						<div class="col-xs-2 text-center">
							<i class="fa fa-fw fa-plus-circle how-icon"></i>
						</div>
						<div class="col-xs-9 col-xs-offset-1">
							<b>Recibe puntos</b><br>
							Recibes puntos por cada producto comprado
						</div>
					</li>
					<li class="clearfix">
						<div class="col-xs-2 text-center">
							<i class="fa fa-fw fa-dollar how-icon"></i>
						</div>
						<div class="col-xs-9 col-xs-offset-1">
							<b>Puntos = Dinero</b><br>
							Cambia tus puntos por gift cards
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row text-center">
		<div class="navbar-separator"></div>
		<a ng-click="scrollTo('friends')"><i class="fa fa-fw fa-arrow-circle-o-down how-down"></i></a>
	</div>
	<div class="navbar-separator"></div>
</section>
<section class="container-fluid page-section-small soft-blue-bg" id="friends">
	<div class="container">
		<div class="navbar-separator"></div>
		<div class="col-xs-12 col-sm-7 col-sm-offset-1">
			<div>
				<h2 class="section-header center-block">Puntos por Invitar Amigos</h2>
				<ul class="list-unstyled how-list">
					<li class="clearfix">
						<div class="col-xs-2 text-center">
							<i class="fa fa-fw fa-users how-icon"></i>
						</div>
						<div class="col-xs-9 col-xs-offset-1">
							<b>Corre la voz</b><br>
							Invita amigos a usar la aplicación
						</div>
					</li>
					<li class="clearfix">
						<div class="col-xs-2 text-center">
							<i class="fa fa-fw fa-plus-circle how-icon"></i>
						</div>
						<div class="col-xs-9 col-xs-offset-1">
							<b>Recibe puntos cuando tus amigos los reciban</b><br>
							Recibes puntos junto a tus amigos
						</div>
					</li>
					<li class="clearfix">
						<div class="col-xs-2 text-center">
							<i class="fa fa-fw fa-dollar how-icon"></i>
						</div>
						<div class="col-xs-9 col-xs-offset-1">
							<b>Puntos = Dinero</b><br>
							Cambia tus puntos por gift cards
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="section-separator"></div>
			<i class="fa fa-fw fa-user-plus how-bigger-icon-green"></i>
		</div>
	</div>
</section>
</div>