<section class="container-fluid page-section">
	<div class="section-separator"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<h1><b>shopear</b>Beacon</h1>
				<h2>El dispositivo de analíticas y retención más confiable para tu tienda</h2>
			</div>
		</div>
	</div>
</section>
<section class="container-fluid page-section">
	<div class="section-separator"></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-5 col-sm-offset-7 text-left">
				<h2>Atrae y mide el comportamiento de tus compradores cuando más importa</h2>
				<br>
				<h4><b>shopear</b>Beacon permite a las marcas y vendedores atraer clientes a su tienda mediante contenido en el contexto de cada pasillo</h4>
				<div class="section-separator"></div>
				<div class="row">
					<div class="col-xs-6">
						<h1><i class="fa fa-mobile"></i></h1>
						<h4>Contenido Contextual</h4>
					</div>
					<div class="col-xs-6">
						<h1><i class="fa fa-bar-chart"></i></h1>
						<h4>Analíticas de Comportamiento</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="container-fluid page-section">
	<div class="container">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<div class="section-separator"></div>
			<!--content-holder-->
		</div>
	</div>
</section>
<section class="container-fluid page-section">
	<div class="container">
		<div class="col-xs-12 col-sm-8">
			<div class="section-separator"></div>
			<!--content-holder-->
		</div>
	</div>
</section>
<section class="container-fluid page-section">
	<div class="container">
		<div class="col-xs-12 col-sm-6">
			<div class="section-separator"></div>
			<!--content-holder-->
		</div>
	</div>
</section>
<section class="container-fluid page-section">
	<div class="container">
		<div class="col-xs-12 col-sm-6">
			<div class="section-separator"></div>
			<!--content-holder-->
		</div>
	</div>
</section>
<section class="container-fluid page-section">
	<div class="container">
		<div class="col-xs-12 col-sm-6">
			<div class="section-separator"></div>
			<!--content-holder-->
		</div>
	</div>
</section>